canvas {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.88);
}

body, html {
	height: 100%;
	margin: 0;
}

h1{
	color: aliceblue;
	background: rgba(0, 0, 0, 0.88);
	margin: 0;
	padding-top: 5vh;
	text-align: center;
}
